*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #7599B3;
  color: #A5AAC7;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #A5AAC7;
  transition: color .3s ease;
}

a:hover {
  color: #39669d;
}

hr {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  border: none;
  background-color: #A5AAC7;
}